<div class="video-background">
  <video autoplay loop muted playsinline>
    <source src="assets/BGEventPages.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>
<img class="dens-logo" ngSrc="assets/dens-icon-without-exotic-events.png" height="85" width="251"/>

<div class="row">
  <div class="column service-image image-wrapper">
    <a><img src="assets/logo_white.png" style="width:100%" alt="direct-sales"></a>
  </div>
  <div class="column image-wrapper">
    <a [routerLink]="['events']"><img src="assets/logo_white.png" style="width:100%" alt="exotic-events"></a>
  </div>
  <div class="column image-wrapper">
    <a><img src="assets/logo_white.png" style="width:100%" alt="dens-merch"></a>
  </div>
</div>
