<div class="video-background">
  <video autoplay loop muted playsinline>
    <source src="assets/BGEventPages.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>
<img class="dens-logo  neon-line" ngSrc="assets/dens-icon-without-exotic-events.png" height="85" width="251"/>

<div class="row">
  <div class="column service-image image-wrapper">
    <a [routerLink]="['sales']"><img src="assets/dens-group-direct-sales.png" alt="dens-merch"></a>
    <p>Coming soon!</p>
  </div>
  <div class="column image-wrapper">
    <a [routerLink]="['events']"><img src="assets/dens-exotics-events.png" alt="exotic-events"></a>
  </div>
  <div class="column image-wrapper">
    <a><img src="assets/dens-merch.png" alt="direct-sales"></a>
    <p>Coming soon!</p>
  </div>
</div>
