<div class="landing-page">
  <app-merch-navigation></app-merch-navigation>
  <div class="hero">
    <h1 class="fade-in">DENS MERCH</h1>
    <h3 class="fade-in delay-1">- WEAR YOUR STYLE</h3>
  </div>
  <div class="feature-list">
    <a class="feature-list-item scroll-fade" [routerLink]="['/merch/hoodies']">
      <img src="assets/merch/dens-hoodie-orange.png" alt="Hoodie" />
    </a>
    <a class="feature-list-item scroll-fade" [routerLink]="['/merch/t-shirts']">
      <img src="assets/merch/dens-t-shirt-green.png" alt="T-shirt" />
    </a>
    <a class="feature-list-item scroll-fade" [routerLink]="['/merch/polos']">
      <img src="assets/merch/dens-polo-black.png" alt="Polo" />
    </a>
    <a class="feature-list-item scroll-fade" [routerLink]="['/merch/jackets']">
      <img src="assets/merch/dens-jacket-black.png" alt="Jacket" />
    </a>
  </div>

</div>
