<header>
  <nav>
    <div class="logo">
      <img src="assets/direct-sales/dens-group-direct-sales-black.webp" />
    </div>

    <!-- Hamburger menu knop -->
    <div class="hamburger" (click)="toggleMenu()">
      ☰
    </div>

    <!-- Navigatie links -->
    <ul class="nav-links" [ngClass]="{ 'active': menuOpen }">
      <li><a [routerLink]="['/sales']">HOME</a></li>
      <li><a [routerLink]="['/sales/about-us']">OVER ONS</a></li>
      <li><a [routerLink]="['/sales/brand-ambassadors']">BA's</a></li>
      <li><a [routerLink]="['/sales/application']">SOLLICITEER</a></li>
      <li><a [routerLink]="['/sales/contact']">CONTACT</a></li>
      <li><a href="#" (click)="scrollToSection('footer', $event)">VOLG ONS</a></li>
    </ul>
  </nav>
</header>
