<div class="meet-the-team-page">
  <app-direct-sales-navigation></app-direct-sales-navigation>
  <div class="grunge">
    <img src="assets/direct-sales/grunge-1.png"/>
  </div>
  <div id="about-us" class="about-us" >
    <h1>OVER ONS</h1>
    <p>
      Bij Dens Group Direct Sales doorbreken we de norm. Wij zijn de verbindende schakel tussen bedrijven en hun klanten, waarbij we directe verkoop combineren met
      een persoonlijke aanpak.
      <br><br>
      Onze missie? Echte connecties creëren. In een wereld waar alles steeds digitaler wordt, geloven wij in de kracht van face-to-face interacties. Door onze expertise in
      direct sales zorgen we ervoor dat bedrijven hun doelgroep niet alleen bereiken, maar ook echt begrijpen.
      <br><br>
      Of het nu gaat om het verhogen van verkoopcijfers, het versterken van klantrelaties of het laten groeien van een merk, wij staan garant voor resultaat. Wij brengen
      merken tot leven door middel van directe, impactvolle communicatie.
      <br><br>
      Sluit je aan bij Dens Group Direct Sales en ervaar zelf hoe wij de standaard doorbreken. “BREAK THE NORM WITH DENS.”
    </p>
    <div class="about-us-container">
      <div class="about-us-container-1">
        <h3>WAT DOEN WIJ VOOR DE CLIËNT?</h3>
        <ul>
          <li>Risicovrije klantenwerving</li>
          <li>Ongeëvenaarde ROI</li>
          <li>Brand awereness</li>
        </ul>
      </div>
      <div class="about-us-container-2">
        <h3>WAT DOEN WIJ VOOR BA'S?</h3>
        <ul>
          <li>Sales programma</li>
          <li>Business Development Programma</li>
          <li>Oprecht ondernemen</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="about-rob-container">
    <h1>ROB HOEDEMAKERS</h1>

    <div class="about-rob-container-1">
      <img src="assets/direct-sales/rob-hoedemakers.jpg"/>
      <p>
        Van het verkopen van snoepjes tot het bouwen van een high-impact salesorganisatie – Rob heeft zijn ware
        passie gevonden in directe verkoop. Op 19 april 2019 zette hij de eerste stap met Dens Group Direct Sales,
        vastberaden om de standaard in de industrie te doorbreken.
        <br><br>
        In oktober 2021 verhuisde hij met het bedrijf naar Gent, waar hij verder bouwt aan zijn visie: een internationaal netwerk van topverkopers en ondernemers creëren.
        <br><br>
        Met een diepgewortelde passie voor auto’s en motors en een ongeëvenaarde drive voor succes, werkt Rob
        elke dag aan het uitbouwen van Dens tot een groot merk binnen de wereld van directe verkoop.
        <br><br>
        Goals & Ambities<br>
        ✅ 10 miljonairs creëren binnen Dens<br>
        ✅ Actief zijn in minstens 3 landen<br>
        ✅ Een netwerk van 20+ kantoren opbouwen in de komende jaren<br>
      </p>
    </div>
    <p class="about-rob-small-text">
      “Verkoop gaat niet over producten pushen, maar over vertrouwen bouwen. Blijf leren, blijven proberen en blijven
      geloven – dat is de sleutel tot onbegrensd succes.
      Je verkoopt niet alleen een product, je biedt een kans om dromen waar te maken.”<br>
      -Rob Hoedemakers
    </p>
  </div>
  <div id="about-rob" class="about-rob">




  </div>

  <div id="meet-the-team" class="meet-the-team">
    <h1>MEET THE TEAM</h1>
    <div class="team-container">
      <div class="team-member">
        <img src="assets/direct-sales/rob-hoedemakers.jpg" alt="Persoon 1">
        <p>ROB HOEDEMAKERS - Zaakvoerder</p>
      </div>
      <div class="team-member">
        <img src="assets/direct-sales/laure-hubert.jpg" alt="Persoon 2">
        <p>LAURE HUBERT - Head Of Recruitment Team</p>
      </div>
    </div>
  </div>
  <app-direct-sales-footer></app-direct-sales-footer>
</div>
