<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">

<div class="video-background">
  <video autoplay loop muted playsinline>
    <source src="assets/BGEventPages.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>

<img src="assets/logo_white.png" class="dens-logo">

<div class="event-container">
  <div class="row">
    <div class="column event-image image-wrapper">
      <img [src]="event.activities[0].image" style="width:100%">
    </div>
    <div class="column image-wrapper">
      <img [src]="event.activities[1].image" style="width:100%">
    </div>
    <div class="column image-wrapper">
      <img [src]="event.activities[2].image" style="width:100%">
    </div>
  </div>

  <div class="button-row">
    <div class="button-column">
      <h1>{{event.title}}</h1>
    </div>
    <div class="button-column">
      <div class="frame">
        <button class="custom-btn btn-7"><span>KOOP EEN TICKET</span></button>
      </div>
    </div>
    <div class="button-column">
      <h1>{{event.title}}</h1>
    </div>
  </div>

  <div class="info-row">
    <div class="info-column">
      <h2>DE RIT</h2>
      <p>{{event.description}}</p>
      <p>Start locatie: {{event.startLocation}}</p>
      <p>Afstand: {{event.distance}} Km</p>
      <p>Regio: {{event.region}}</p>
      <p>Datum: {{event.date}}</p>
      <p>Goodies: {{event.goodies}}</p>
    </div>
    <div class="info-column">
      <h2>PRIJZEN</h2>
      <p>Ticket per voetuig</p>
      <p>1 Ticket = 1 voertuig (motor of auto)</p>
      <h2>€{{event.price}}</h2>
    </div>
    <div class="info-column">
      <h2>DE MENSEN</h2>
      <p>Maak kennis met andere auto enthausiasten.</p>
      <p>Deel je passie voor techniek en design van je wagen.</p>
      <p>In het gezelschap en samenzijn van andere liefhebbers.</p>
    </div>
  </div>
</div>

