<div id="application" class="application">
  <button class="back-button" [routerLink]="['/sales']">HOME</button>
  <div class="application-content">
    <h1>SOLLICITEER</h1>
    <h2>VERKOPER</h2>
    <p>
      Ben jij een sociaal persoon die meer uit hun carrière wil halen? Dan hebben wij de perfecte uitdaging voor jou!
      <br><br>
      Sluit je aan bij ons leuke team van verkopers! krijg ook de kans om nieuwe klanten aan te trekken en je verkoopvaardigheden naar een hoger niveau te tillen!
    </p>
    <br>
    <h3>Functieomschrijving:</h3>
    <ul>
      <li>Geniet van de vrijheid om zelfstandig te werken en je eigen planning te bepalen.</li>
      <li>Ontwikkel je verkoopvaardigheden terwijl je nieuwe connecties maakt, persoonlijk contact hebt met klanten en waardevolle feedback verzamelt.</li>
      <li>Verhoog continu je verkoopresultatendoor middel van je verbeterde vaardigheden.</li>
    </ul>
    <br>
    <h3>Wat bieden wij:</h3>
    <ul>
      <li>Flexibiliteit: Werk op je eigen tempo en bepaal je eigen werktijden.</li>
      <li>Groeimogelijkheden: Ontwikkel jezelf en groei binnen onze organisatie.</li>
      <li>Opleiding: Kosteloze persoonlijke 1-op-1 training om alle ins en outs van de verkoop te leren.</li>
      <li>Business Development Programma: Word getraind in alle aspecten van bedrijfsbeheer en leiderschap.</li>
    </ul>
    <br>
    <h3>Voordelen:</h3>
    <ul>
      <li>Mogelijkheid tot reizen.</li>
      <li>Gratis opleiding.</li>
      <li>Wekelijkse sociale activiteiten.</li>
      <li>Persoonlijke ontwikkeling.</li>
      <li>...</li>
    </ul>
    <br>
    <h3>Functie-eisen:</h3>
    <ul>
      <li>Geen specifieke ervaring vereist.</li>
      <li>Geschikt voor iedereen die zich persoonlijk wil ontwikkelen of wil groeien in de verkoopwereld.</li>
    </ul>

    <a href="https://eu.jotform.com/243314615382352" class="application-button">KLIK HIER</a>
  </div>
</div>
