<div class="hero-container">
  <!-- Achtergrond afbeelding -->
  <a class="home-button" [routerLink]="['/']">
    <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path d="M10 12L6 8L10 4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    HOME
  </a>
  <div class="background-image"></div>

</div>


<div class="video-background">
  <video autoplay loop muted playsinline>
    <source src="assets/BGEventPages.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>

<div class="events-wrapper">
  <div class="events-container">
    <div class="event-card" *ngFor="let event of events">
      <a [routerLink]="['/event', event.id]">
        <img [src]="event.image" alt="{{ event.title }}" class="event-image">
      </a>
      <div class="event-info">
        <span class="event-date">{{ event.date }}</span>
        <span class="event-title">{{ event.title }}</span>
      </div>
    </div>
  </div>
</div>

<div class="passed_events_title">
  <h1>AFGELOPEN EVENTS</h1>
  <hr>
</div>
<div class="events-wrapper">
  <div class="events-container">
    <div class="event-card" *ngFor="let passed_event of passed_events">
      <a [routerLink]="['/passed-event', passed_event.id]">
        <img [src]="passed_event.image" alt="{{ passed_event.title }}" class="event-image">
      </a>
      <div class="event-info">
        <span class="event-date">{{ passed_event.date }}</span>
        <span class="event-title">{{ passed_event.title }}</span>
      </div>
    </div>
  </div>
</div>

<footer class="footer-container">
  <div class="footer-content">
    <div class="logo">
      <img priority ngSrc="assets/logo_white.png" alt="Dens Exotics Events Logo" height="200" width="396">
    </div>
    <div class="social-icons">
      <a href="https://www.instagram.com/densexotics" target="_blank" aria-label="Instagram">
        <img priority ngSrc="assets/logo_instagram_white.png" alt="Instagram Logo" height="113" width="113">
      </a>
      <a href="https://www.facebook.com/share/18Bh6acRbs/?mibextid=wwXIfr" target="_blank" aria-label="Facebook">
        <img priority ngSrc="assets/logo_facebook_white.png" alt="Facebook Logo" height="113" width="113">
      </a>
      <a href="https://www.tiktok.com/@densexoticsnew" target="_blank" aria-label="TikTok">
        <img priority ngSrc="assets/logo_tiktok_white.png" alt="TikTok Logo" height="113" width="113">
      </a>
      <a href="https://youtube.com/@densytchannel?si=ugeviXqEr1rIpHhU" target="_blank" aria-label="TikTok">
        <img priority ngSrc="assets/logo-youtube-white.png" alt="Youtube Logo" height="113" width="113">
      </a>
    </div>

    <div class="footer-links">
      <div>
        <h4>Algemene voorwaarden</h4>
        <p>
          De diensten van Dens Exotics Events worden geleverd onder de volgende voorwaarden:
          - Boeken is bindend, wijzigingen zijn mogelijk tot 14 dagen voor het evenement.
          - Betaling dient binnen 7 dagen na factuurdatum te worden voldaan.
          - Annuleringen zijn niet mogelijk.
          Voor meer informatie kun je contact met ons opnemen.
        </p>
      </div>
      <div>
        <h4>Privacyverklaring</h4>
        <p>
          Wij respecteren jouw privacy. Persoonlijke gegevens die wij verzamelen, worden uitsluitend gebruikt
          voor het verwerken van boekingen en het verbeteren van onze diensten. Wij delen jouw gegevens
          niet met derden zonder jouw toestemming, tenzij wettelijk verplicht. Voor volledige details,
          raadpleeg ons privacybeleid.
        </p>
      </div>
      <div>
        <h4>Cookies</h4>
        <p>
          Onze website maakt gebruik van cookies om je ervaring te verbeteren. Cookies worden gebruikt
          om voorkeuren op te slaan, gebruiksstatistieken te verzamelen en onze website te optimaliseren.
          Door onze site te gebruiken, stem je in met het gebruik van cookies. Je kunt jouw cookie-instellingen
          aanpassen in je browser.
        </p>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>Alle rechten voorbehouden</p>
    <p>BTW Nummer: BE1003.696.810</p>
  </div>

</footer>
