<div class="direct-sales-background">
  <app-direct-sales-navigation></app-direct-sales-navigation>
  <main>
    <section class="hero">
      <img src="assets/direct-sales/dens-break-the-norm.png"/>
    </section>
  </main>

  <div class="grunge">
    <img src="assets/direct-sales/grunge-1.png"/>
  </div>

  <div id="services" class="services">
    <h1>ONZE SERVICES</h1>
    <div class="services-1">
      <img src="assets/direct-sales/services-1.jpg"/>
      <div class="services-1-text">
        <h3><span>Start Jouw Salescarrière bij Dens Group Direct Sales</span></h3>
        <br>
        <p>
          Wil jij een vliegende start maken in sales, zelfs zonder ervaring?
          Bij <span>Dens Group Direct Sales</span> krijg je de kans om te groeien in een dynamische omgeving.
          Met onze <span>product- en salestrainingen</span> leer je de essentiële vaardigheden om zelfstandig sales te doen en COD 1 & 2 te beheersen.
          Stap voor stap bouw je aan je carrière, terwijl je werkt in een <span>omgeving vol gezonde competitie, plezier en persoonlijke groei.</span>
        </p>
        <br>
        <p><span>💡 Begin vandaag en ontdek jouw potentieel!</span></p>
        <p><span>📩Neem contact op</span> voor meer info.</p>
      </div>
    </div>
    <div class="services-2">
      <div class="services-2-text">
        <h3><span>Doorgroeien tot een Leider in Sales & Business</span></h3>
        <br>
        <p>
          Ambitie wordt beloond! Bij Dens Group Direct Sales kun je <span>snel doorgroeien</span> en een echte leider worden.
          Door <span>salesvolume te behouden, te netwerken en leadership skills te ontwikkelen</span>, werk je aan de volgende stap: <span>teammanagement, recruitment en zelfs het runnen van je eigen business.</span>
          Wij begeleiden je in administratie, financiën en planning, zodat jij volledige controle neemt over je toekomst.
        </p>
        <br>
        <p><span>🔥 Wil jij je carrière versnellen</span>? Word deel van ons team!</p>
        <p><span>📩 Neem contact op</span> voor meer info.</p>
      </div>
      <img src="assets/direct-sales/services-2.jpg"/>
    </div>
  </div>

  <div id="brand-abassadors" class="brand-ambassadors">
    <hr>
    <h1>BRAND AMBASSADEURS</h1>
    <h4>Wellicht ben jij de volgende die doorgroeit en straks hier op de website te vinden is!</h4>
    <div class="brand-ambassadors-container">
      <div class="ambassador-member">
        <img src="assets/direct-sales/pieterjan.jpg"/>
        <p>Pieterjan<br>Business Coach</p>
      </div>
      <div class="ambassador-member">
        <img src="assets/direct-sales/more-coming-soon.png"/>
      </div>
    </div>
  </div>
  <app-direct-sales-footer></app-direct-sales-footer>
</div>
