html {
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
}
.direct-sales-background{
  background-color: #eae6e2;
}
body {
  font-family: 'BebasNeueRegular', sans-serif;
  background-color: #eae6e2;
  text-align: center;
}

.hero {
  margin-left: 15%;
}
.hero img{
  width: 30%;
  height: auto;
  margin-left: 1%;
  margin-top: 15%;
}

.grunge{
  margin-top: 10%;
  z-index: 2;
}
.grunge img{
  width: 100%;
}

.brand-ambassadors{
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
}
.brand-ambassadors h1{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.brand-ambassadors-container {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

.ambassador-member{
  text-align: center;
  max-width: 200px;
}
.ambassador-member img{
  width: 100%;
  max-width: 200px;
  max-height: 300px;
  height: auto;
  border-radius: 10px;

}

.ambassador-member img:hover{
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
.ambassador-member{
  font-size: 1rem;
  font-weight: bold;
  margin-top: 10px;
}
.services{
  margin-left: 15%;
  margin-right: 30%;
  margin-top: -5%;
}
.services span{
  font-weight: bold;
}
.services img{
  width: 150%;
  height: auto;
}
.services-1{
  display: grid;
  grid-template-columns: 25% 75%; /* Verdeelt het in 2 kolommen */
  align-items: center;
  gap: 30%; /* Ruimte tussen tekst en afbeelding */
}

.services-2{
  display: grid;
  grid-template-columns: 75% 25%; /* Verdeelt het in 2 kolommen */
  align-items: center;
  gap: 15%; /* Ruimte tussen tekst en afbeelding */
  margin-top: 5%;
}

hr{
  border: none;           /* Verwijdert de standaard border */
  height: 4px;            /* Dikte van de lijn */
  background-color: #444; /* Donkergrijze kleur */
  width: 100%;
}




@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .hero {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .hero-text {
    width: 100%;
    margin-bottom: 20px;
  }

  .hero img {
    width: 100%;
    height: auto;
    margin-right: 15%;
    margin-left: -9%;
  }

  .content {
    padding: 20px;
  }

  .card-container {
    flex-direction: column;
    gap: 20px;
  }

  .card {
    width: 100%;
  }
  .brand-ambassadors img{
    width: 100%;
    margin-left: 0;
  }
  .services-2{
    padding-bottom: 30%;
  }
  .services-1,
  .services-2,
  .about-rob {
    display: block; /* Verwijdert de grid-layout zodat tekst de volledige breedte inneemt */
  }

  .services-1 img,
  .services-2 img{
    display: none; /* Verwijdert de afbeeldingen */

  }

  .application h1{
    font-size: 2.5rem;
  }

  .services p,
  .about-rob p {
    width: 125%; /* Zorgt ervoor dat de tekst de volledige breedte neemt */
  }
  .about-rob p{
    width: 175%;
  }
  .about-rob img{
    width: 170%;
  }


}
