<div class="direct-sales-background">
  <header>
    <nav>
      <div class="logo"><img src="assets/direct-sales/dens-group-direct-sales-black.webp"/></div>
      <ul>
        <li><a href="#over-ons">Over Ons</a></li>
        <li><a href="#onze-services">Onze Services</a></li>
        <li><a href="#solliciteer">Solliciteer</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="hero">
      <img src="assets/direct-sales/dens-break-the-norm.png"/>
    </section>
  </main>

  <div class="grunge">
    <img src="assets/direct-sales/grunge-1.png"/>
  </div>

  <div class="about-us">
    <h1>OVER ONS</h1>
    <hr>
    <p>
      Bij <span>Dens Group Direct Sales</span> doorbreken we de norm. Wij zijn de verbindende schakel tussen bedrijven en hun klanten, waarbij we directe verkoop combineren met een persoonlijke aanpak.
      <br><br>
      Onze missie? <span>Echte connecties creëren</span>. In een wereld waar alles steeds digitaler wordt, geloven wij in de kracht van face-to-face interacties. Door onze expertise in direct sales zorgen we ervoor dat bedrijven hun doelgroep niet alleen bereiken, maar ook echt begrijpen.
      <br><br>
      Of het nu gaat om het verhogen van verkoopcijfers, het versterken van klantrelaties of het laten groeien van een merk, wij staan garant voor resultaat. <span>Wij brengen merken tot leven door middel van directe, impactvolle communicatie.</span>
      <br><br>
      Sluit je aan bij <span>Dens Group Direct Sales</span> en ervaar zelf hoe wij de standaard doorbreken. <span>"BREAK THE NORM WITH DENS."</span>
    </p>
  </div>

  <div class="about-rob">
    <p>
      Van het verkopen van snoepjes tot het bouwen van een <span>high-impact salesorganisatie</span> – Rob heeft zijn ware passie gevonden in directe verkoop. Op <span>19 april 2019</span> zette hij de eerste stap met Dens Group Direct Sales, vastberaden om de standaard in de industrie te doorbreken.
      <br><br>
      In <span>oktober 2021</span> verhuisde hij met het bedrijf naar <span>Gent</span>, waar hij verder bouwt aan zijn visie: <span>een internationaal netwerk van topverkopers en ondernemers creëren</span>.
      <br><br>
      Met een diepgewortelde passie voor <span>auto’s en motors</span> en een ongeëvenaarde drive voor succes, werkt Rob elke dag aan het <span>uitbouwen van Dens tot een groot merk</span> binnen de wereld van directe verkoop.
      <br><br>
      <span>Goals & Ambities</span><br>
      ✅ <span>10 miljonairs creëren</span> binnen Dens <br>
      ✅ Actief zijn in <span>minstens 3 landen</span><br>
      ✅ <span>Een netwerk van 20+ kantoren</span> opbouwen in de komende jaren<br>
    </p>

    <img src="assets/direct-sales/dens-piske.JPG"/>
  </div>
</div>
