body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0; /* Zorgt ervoor dat er geen witte kader ontstaat */
  padding: 0;
  box-sizing: border-box; /* Inclusief padding en borders in totale breedte/hoogte */
}
