<div class="grunge">
  <img src="assets/direct-sales/grunge-1.png"/>
</div>

<footer id="footer" class="footer">
  <h2 class="footer-title">VOLG ONS</h2>
  <div class="social-icons">
    <a href="https://www.facebook.com/share/12BdEednBv6/" target="_blank">
      <img src="assets/direct-sales/facebook-icon.png" alt="Facebook">
    </a>
    <a href="https://www.instagram.com/dens_group?igsh=b2k5cW01NTQ1MDI3" target="_blank">
      <img src="assets/direct-sales/instagram-icon.png" alt="Instagram">
    </a>
    <a href="https://youtube.com/@densytchannel?si=ugeviXqEr1rIpHhU" target="_blank">
      <img src="assets/direct-sales/youtube-icon.png" alt="Youtube">
    </a>
  </div>

  <div class="footer-content">
    <div class="footer-section">
      <h3>COOKIES</h3>
      <p>
        Wij gebruiken cookies om de gebruikerservaring te verbeteren. Cookies helpen bij het analyseren van
        websiteverkeer en personaliseren inhoud. Door onze website te gebruiken, accepteer je het gebruik van cookies.
      </p>
    </div>
    <div class="footer-section">
      <h3>PRIVACYVERKLARING</h3>
      <p>
        Wij respecteren je privacy en zorgen ervoor dat je gegevens veilig worden verwerkt. Jouw persoonlijke informatie
        wordt nooit gedeeld zonder jouw toestemming en wordt uitsluitend gebruikt volgens ons privacybeleid.
      </p>
    </div>
    <div class="footer-section">
      <h3>ALGEMENE VOORWAARDEN</h3>
      <p>
        Door deze website te gebruiken, ga je akkoord met onze algemene voorwaarden. Hierin staan de regels en
        verantwoordelijkheden voor zowel ons als de gebruiker. Lees deze goed door voordat je de website gebruikt.
      </p>
    </div>
  </div>
  <div class="BTW-number">
    <p>BTW Nummer:<br> BE0773354175</p>
  </div>
</footer>

<div class="grunge">
  <img src="assets/direct-sales/grunge-2.png"/>
</div>
